.glozin-accordion__item {
	border-bottom: 1px solid var( --gz-border-color );
}

.glozin-accordion__title {
	padding-inline-end: 20px;
	
	a {
		color: var( --gz-color-base );
		display: block;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-inline-end: 50px;

		&:hover {
			color: var( --gz-color-dark );
		}
	}

	&.glozin-tab--active {
		a {
			color: var( --gz-color-dark );
		}
	}
}

.glozin-accordion__icon {
	transition: .3s;

	i, svg {
		transition: .3s;
	}
}

.glozin-accordion__title-default {
	.glozin-accordion__icon {
		transition: .4s ease .1s;
	}

	.glozin-accordion__plus {
		.glozin-accordion__icon-plus {
			cursor: pointer;

			&:before {
				content: "";
				width: 12px;
				height: 1px;
				background-color: currentColor;
				position: absolute;
				transition: all .3s ease-out;
			}

			&:after {
				content: "";
				width: 12px;
				height: 1px;
				background-color: currentColor;
				position: absolute;
				transform: rotate(90deg);
				transition: all .3s ease-out;
			}
		}
	}
}

.glozin-accordion__title-icon {
	.glozin-accordion__icon-active {
		opacity: 0;
	}
}

.glozin-tab--active {
	&.glozin-accordion__title-icon {
		.glozin-accordion__icon-default {
			opacity: 0;
		}

		.glozin-accordion__icon-active {
			opacity: 1;
		}
	}

	&.glozin-accordion__title-default {
		.glozin-accordion__svg-icon {
			transform: rotate(180deg);
		}

		.glozin-accordion__icon-plus {
			&:before,
			&:after {
				transform: rotate(180deg);
			}
		}
	}

	.glozin-accordion__title {
		color: var( --gz-color-dark );
	}
}

.glozin-accordion__icon-position--left {
	.glozin-accordion__icon {
		left: 0;
		right: auto;
	}

	.glozin-accordion__title-text {
		padding-inline-start: 50px;
		padding-inline-end: 0;
	}
}