@keyframes fadeZoomSlide {
	0% {
		transform: scale(1.07);
	}
	100% {
		transform: scale(1);
	}
}

.glozin-slides-elementor {
	--gz-ratio-percent: 44.2%;

	.glozin-slide {
		// height: 100%;
		align-items: center;
	}

	.gz-responsive-image {
		height: 100%;
	}

	.gz-ratio {
		video {
			display: block;
			max-width: 100%;
			position: absolute;
			margin: 0;
			top: 0;
			inset-inline-start: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.glozin-slide__content {
		position: relative;
		pointer-events: none;
		z-index: 3;
	}

	.glozin-slide__before-title,
	.glozin-slide__title,
	.glozin-slide__description,
	.glozin-slide__sub-description,
	.glozin-slide__button {
		--gz-transition-delay: .5s;

		opacity: 0;
		transform: translateY(100px);
		transition: transform .3s, opacity .01s;
		transition-delay: var(--gz-transition-delay);
	}

	.glozin-slide__before-title {
		--gz-transition-delay: .3s;

		display: inline-block;
		font-weight: 700;
		text-transform: uppercase;
		color: var(--gz-color-dark);
		margin-bottom: 13px;
	}

	.glozin-slide__title {
		font-size: 80/16*1rem;
		line-height: normal;
		color: var(--gz-color-dark);
		margin-bottom: 14px;
		margin-top: 0;
	}

	.glozin-slide__description {
		--gz-transition-delay: .9s;

		font-size: 20/16*1rem;
		color: var(--gz-color-dark);
		margin-bottom: 44px;
	}

	.glozin-slide__sub-description {
		--gz-transition-delay: .9s;

		font-size: 16/16*1rem;
		color: var(--gz-color-dark);
		gap: 10px;
		margin-top: -42px;
		margin-bottom: 44px;

		.star-rating {
			--gz-rating-spacing: 8px;

			font-size: 18/16*1rem;

			.user-rating {
				color: #FF8A00;
			}
		}
	}

	.glozin-slide__sub-description--text {
		margin-top: 2px;
	}

	.glozin-slide__button {
		--gz-transition-delay: .95s;

		pointer-events: auto;

		.glozin-svg-icon {
			font-size: 11/16*1rem;
		}

		&.gz-button-subtle,
    	&.gz-button-text {
        --gz-button-padding-inline-start: 0;
        --gz-button-padding-inline-end: 0;
    	}
	}

	.swiper-pagination,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		position: absolute;
		margin-top: 0;
		text-align: start;
		left: 50%;
		transform: translateX(-50%);
		bottom: var(--gz-swiper-pagination-spacing) !important;
	}

	div.swiper-slide-active {
		.glozin-slide__content,
		.glozin-slide__before-title,
		.glozin-slide__title,
		.glozin-slide__description,
		.glozin-slide__sub-description,
		.glozin-slide__button {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.glozin-slide__content-background {
		.glozin-slide__content {
			opacity: 0;
			transform: translateY(100px);
			transition: transform .3s, opacity .01s;
			transition-delay: .5s;
		}

		.glozin-slide__before-title {
			--gz-transition-delay: .8s;
		}

		.glozin-slide__title {
			--gz-transition-delay: 1s;
		}

		.glozin-slide__description {
			--gz-transition-delay: 1.2s;
		}

		.glozin-slide__sub-description {
			--gz-transition-delay: 1.2s;
		}

		.glozin-slide__button {
			--gz-transition-delay: 1.25s;
		}
	}

	.glozin-slide__button--all {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
	}
}

.glozin-slides-elementor__item {
	&::after {
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
		z-index: 1;
	}
}

.glozin-slides__dots-position-right {
	.swiper-pagination-bullets {
		display: inline-flex;
	}
}

.glozin-slides__effect-zoom {
	&:not(.swiper-initialized) {
		.glozin-slide__image {
			transform: scale(1.07);
			height: 100%;
		}

		.swiper-slide {
			overflow: hidden;
		}
	}

	.swiper-slide-active {
		.glozin-slide__image {
			animation: fadeZoomSlide 2s forwards;
		}
	}
}

.glozin-split-hero-slider {
	.swiper-pagination,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		position: absolute;
		margin-top: 0;
		text-align: start;
		left: 50%;
		transform: translateX(-50%);
		bottom: var(--gz-swiper-pagination-spacing) !important;
	}
}

.glozin-split-hero-slider__title {
	font-size: clamp(
		(60 * 0.64px),
		calc(
		  (60 * 0.64px) +
			(60 - (60 * 0.64)) * var(--gz-responsive-rate)
		),
		calc(60 * 1px)
	  );
}

.glozin-split-hero-slider__image {
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s ease,visibility .5s ease;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}

@media (min-width: 992px) {
	.glozin-slides__full-screen,
	.glozin-slides__full-screen .glozin-slide__image {
		min-height: calc( 100vh - var(--gz-slides-full-screen-height) );
	}
}