.glozin-timeline__line {
    width: 2px;
    border-left: 2px solid var(--gz-color-dark);
    color: var(--gz-color-dark);

    &:after {
        content: "";
        position: absolute;
        bottom: -3px;
        inset-inline-start: -9px;
        width: 16px;
        height: 8px;
        background-color: currentcolor;
        -webkit-mask: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE1IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDFMNy41IDdMMTQgMSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4NCjwvc3ZnPg==") no-repeat 50% 50%;
        mask: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE1IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogIDxwYXRoIGQ9Ik0xIDFMNy41IDdMMTQgMSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4NCjwvc3ZnPg==") no-repeat 50% 50%;

        -webkit-mask-size: cover;
        mask-size: cover;
    }
}

.glozin-timeline__item {
    min-height: 265px;

    &:nth-child(2n) {
        .glozin-timeline__inner {
            flex-direction: row-reverse;
        }
    }

    &:nth-child(2n + 1) {
        .glozin-timeline__content {
            text-align: end;
        }
    }

    &.first-item {
        .glozin-timeline__year {
            padding: 11px 44px;
        }
    }

    &:last-child {
        &:before {
            content: '';
            width: 2px;
            border-left: 2px dashed var(--gz-color-dark);
            background-color: var(--gz-color-light);
            height: calc(100% - 35px);
            position: absolute;
            inset-inline-start: 50%;
            top: 35px;
            transform: translateX(-50%);
            z-index: 3;
        }
    }
}

.glozin-timeline__inner {
    padding-top: 70px;
}

.glozin-timeline__year {
    background-color: var(--gz-color-light);
    border: 2px solid var(--gz-color-dark);
    box-shadow: 4px 4px 0px 0px var(--gz-color-dark);
    padding: 9px 44px;
}

.glozin-timeline__content {
    max-width: 470px;
    width: 50%;
    z-index: 3;
}

.glozin-timeline__content-inner {
    --gz-border-color: var(--gz-color-dark);
    box-shadow: 4px 4px 0px 0px var(--gz-color-dark);
    padding: 28px 30px 22px;
}

.glozin-timeline__title {
    margin-bottom: 12px;
}

@media (min-width: 1200px) {
    .glozin-timeline__item{
        &.first-item {
            min-height: 327px;

            .glozin-timeline__year {
                top: 60px;
            }
        }
    }

    .glozin-timeline__content,
    .glozin-timeline__inner {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .glozin-timeline {
        padding-inline-start: 25px;
    }

    .glozin-timeline__item{
        &:nth-child(2n) {
            .glozin-timeline__inner {
                flex-direction: row;
            }
        }

        &:nth-child(2n + 1) {
            .glozin-timeline__content {
                text-align: start;
            }
        }

        &:last-child{
            &:before {
                inset-inline-start: 35px;
            }
        }
    }

    .glozin-timeline__line {
        inset-inline-start: 60px;
    }

    .glozin-timeline__year {
        inset-inline-start: 35px;
    }

    .glozin-timeline__content {
        padding-inline-start: 50px;
        width: 100%;
        max-width: 100%;
    }
}
