@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.buy-x-get-y__switch {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 64px;
    height: 30px;
}

.buy-x-get-y__switch--column {
    width: 58px;
    height: 26px;
}

.buy-x-get-y__switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.buy-x-get-y__switch .switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.buy-x-get-y__switch .switch:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 30px;
    left: 4px;
    bottom: 4px;
    border-radius: 10px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.buy-x-get-y__switch--column .switch:before {
    height: 20px;
    width: 27px;
    bottom: 3px;
}

.buy-x-get-y__switch input:checked + .switch {
    background-color: #2196F3;
}

.buy-x-get-y__switch input:focus + .switch {
    box-shadow: 0 0 1px #2196F3;
}

.buy-x-get-y__switch input:checked + .switch:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.buy-x-get-y__switch--column input:checked + .switch:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

.buy-x-get-y__switch .text {
    padding-left: 60px;
    font-weight: 700;
}

#foodforlife-buy-x-get-y hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.foodforlife-buy-x-get-y-source .form-field,
.foodforlife-buy-x-get-y {
    display: flex;
    gap: 30px;
}

.foodforlife-buy-x-get-y h3 {
    width: 100%;
    margin-top: 0;
}

.foodforlife-buy-x-get-y-source .form-field.hidden {
    display: none;
}

.foodforlife-buy-x-get-y-source .form-field label,
.foodforlife-buy-x-get-y > label {
    width: 20%;
}

.foodforlife-buy-x-get-y__heading {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
}

.group-items {
    margin-bottom: 10px;
}

.foodforlife-buy-x-get-y__heading,
.group-items {
    display: flex;
    gap: 5px;
}

.foodforlife-buy-x-get-y__heading > label {
    font-weight: 500;
}

.foodforlife-buy-x-get-y__heading > label,
.group-items .group-items__item {
    width: 15%;
}

.foodforlife-buy-x-get-y__heading > label:first-child,
.group-items .group-items__item:first-child {
    text-align: center;
    width: 2%;
}

.foodforlife-buy-x-get-y__heading > label:nth-child(2),
.group-items .group-items__item:nth-child(2) {
    width: 43%;
}

.group-items input,
.group-items select {
    width: 100%;
    height: 100%;
}

.foodforlife-buy-x-get-y__items {
    padding: 10px;
    width: 80%;
}

.foodforlife-buy-x-get-y__items .move {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.foodforlife-buy-x-get-y__items .move:before {
    content: '\f545';
    color: #999999;
    font-family: dashicons;
    display: inline-block;
    line-height: 1;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    speak: unset;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: top;
    text-align: center;
    transition: color .1s ease-in;
}

.foodforlife-buy-x-get-y__items .size input {
    max-width: 80px;
}

.column-buy_x_get_y_status {
    width: 14%;
    vertical-align: middle !important;
}

.foodforlife-buy-x-get-y__remove {
    flex: auto;
}

.foodforlife-buy-x-get-y__button {
    text-align: right;
}

#foodforlife-buy-x-get-y .foodforlife-product-quantity {
    width: 150px;
}

.foodforlife-product-quantitys {
    background-color: #ebebeb;
    padding: 10px;
}

.foodforlife-product-quantitys.loading {
    position: relative;
    pointer-events: none;
}

.foodforlife-product-quantitys.loading::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba( 0, 0, 0, 0.4 );
}
.foodforlife-product-quantitys.loading::after {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    height: 16px;
    width: 16px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid;
    border-top-color: transparent;
    -webkit-animation: spin infinite 1s linear;
    animation: spin infinite 1s linear;
    transition: opacity .2s linear .2s;
    content: "";
	color: #fff;
}

.foodforlife-product-quantitys__item {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #000;
}

.foodforlife-product-quantitys__item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

@media (max-width: 768px) {
    .foodforlife-buy-x-get-y-source .form-field,
    .foodforlife-buy-x-get-y {
        flex-direction: column;
        gap: 15px;
    }

    .foodforlife-buy-x-get-y-source .form-field label,
    .foodforlife-buy-x-get-y > label,
    .foodforlife-buy-x-get-y-source select,
    .foodforlife-buy-x-get-y-source .select2 {
        width: 100% !important;
    }

    .foodforlife-buy-x-get-y-source .select2-container .select2-selection--multiple .select2-selection__rendered {
        font-size: 14px;
        white-space: wrap;
    }

    .foodforlife-buy-x-get-y__items {
        padding: 0 0 20px 0;
        width: 100%;
        overflow-x: auto;
    }

    .foodforlife-buy-x-get-y__heading,
    .group-items,
    .foodforlife-buy-x-get-y__button {
        width: 140%;
    }

    .foodforlife-buy-x-get-y__heading > label:first-child,
    .group-items .group-items__item:first-child {
        width: 4%;
    }

    .foodforlife-buy-x-get-y__heading > label:nth-child(2),
    .group-items .group-items__item:nth-child(2) {
        width: 30%;
    }

    .foodforlife-buy-x-get-y__button {
        position: relative;
        text-align: left;
    }

    .foodforlife-buy-x-get-y__button .button {
        position: sticky;
        left: 0;
    }

    .foodforlife-product-quantitys__item {
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .foodforlife-buy-x-get-y__heading,
    .group-items,
    .foodforlife-buy-x-get-y__button {
        width: 180%;
    }
}